<section *ngIf="step1" class="w-50 bg-main-light p-3 my-3 shadow rounded mx-auto">
  <form [formGroup]=forgetpassword (ngSubmit)='forget()'>
    <label for="email">Email</label>
    <input formControlName="email" type="email" id="email" class="form-control ">
    <button class="main-btn w-100 mt-1">Forget Password </button>
    <p *ngIf="userMesage" class=" alert alert-danger mx-auto w-100 text-center">{{userMesage}}</p>
  </form>
</section>
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<section *ngIf="step2" class="w-50 bg-main-light p-3 my-3 shadow rounded mx-auto">
  <form [formGroup]=restCodeForm (ngSubmit)='sendCode()'>
    <label for="restCode">restCode</label>
    <input formControlName="resetCode" type="text" id="restCode" class="form-control ">
    <button class="main-btn w-100 mt-1">Send Code </button>
    <p *ngIf="userMesage" class=" alert alert-danger mx-auto w-100 text-center">{{userMesage}}</p>
  </form>
</section>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->
<section *ngIf="step3" class="w-50 bg-main-light p-3 my-3 shadow rounded mx-auto ">
  <form [formGroup]=resetPassword (ngSubmit)='newPassword()'>
    <label for="email">Email</label>
    <input formControlName="email" type="email" id="email" class="form-control ">
    <label for="restPassword">newPassword</label>
    <input formControlName="newPassword" type="password" id="restPassword" class="form-control ">
    <button class="main-btn w-100 mt-1">New Password </button>
    <p *ngIf="userMesage" class=" alert alert-danger mx-auto w-100 text-center">{{userMesage}}</p>
  </form>
</section>
