<section class="bg-main-light p-5">
  <div class="mb-4 ">
    <h3>Get the FreshCart App</h3>
    <p>We will send you a link,open it on your phone to donwload the app </p>
    <div class="d-flex justify-content-evenly">
      <input class=" form-control w-75" type="email" placeholder="Email...">
      <button class="btn main-btn">Share App Link</button>
    </div>
  </div>

  <div class="border-top border-bottom d-flex justify-content-between py-4  align-items-baseline">
    <div class="d-flex justify-content-between align-items-baseline">
      <p class=" fw-bold pe-2 ">Payment Partners </p>
      <div>
        <img width="50" src="./assets/images/visa-1.svg" alt="">
        <img width="50" src="./assets/images/master.svg" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-end  align-items-baseline ">
      <p class=" fw-bold pe-2 ">Get deliveries with FreshCart</p>
      <div>
        <img width="100px" src="./assets/images/image.png" alt="">
        <img width="100px" src="./assets/images/goggal app.png " alt="">
      </div>
    </div>
  </div>
</section>
