<section class="mt-5 container">

  <div class="row shadow rounded-4">
    <div class="col-md-3">
      <owl-carousel-o [options]="detailsSlaider">

        <ng-container *ngFor="let item of prodauctIdData.images">
          <ng-template carouselSlide>
            <img [src]="item">
          </ng-template>
        </ng-container>

      </owl-carousel-o>
    </div>

    <div class=" col-md-9 p-3 mt-5 ">
      <h4>{{prodauctIdData.title}}</h4>
      <h3 class=" font-sm">{{prodauctIdData.description}}</h3>
      <div class="mt-5">
        <h6>{{prodauctIdData.category.name}}</h6>
      </div>
      <div class="d-flex justify-content-between ibr ">
        <p>{{prodauctIdData.price | currency:'EGP'}}</p>
        <span><i class="fa-solid fa-star rating-color "></i>{{prodauctIdData.ratingsAverage}}</span>
      </div>
      <div class="pt-2">
        <button (click)="addProduct(prodauctIdData._id)" class="main-btn w-100 ">+Add To Cart </button>
      </div>
    </div>

  </div>


</section>
