<section class=" w-75 mx-auto p-3 bg-main-light my-3 shadow rounded ">
  <form [formGroup]="orderForm" (ngSubmit)="handelForm()">

    <div class="form-item">
      <label for="details">details</label>
      <input type="text" id="details" formControlName="details" class=" form-control">
    </div>


    <div class="form-item">
      <label for="phone">phone</label>
      <input type="tel" id="phone" formControlName="phone" class=" form-control">
    </div>

    <div class="form-item">
      <label for="city">city</label>
      <input type="text" id="city" formControlName="city" class=" form-control">
    </div>

    <button class="main-btn my-3">CheckOut</button>

  </form>
</section>
